body{
    background: var(--lighter);
}
header{
    height: 115vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
    flex-direction: row-reverse;
    justify-content: space-evenly;
}
header h1{
    font-size: 4.4rem;
    line-height: 4.6rem;
}
header p{
    font-size: 2rem;
    line-height: 2.2rem;
}
.navbar{
    display: flex;
}
.description_content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px 100px;
}
.description__img, .description__info{
    padding: 0;
}
.description__info ul li{
    font-size: 2rem;
    line-height: 2.2rem;
}
.proyects{
    clip-path: polygon(0 5%, 100% 180px, 100% 100%, 0 calc(100% - 100px));
    padding: 150px 50px 200px;
}
.bg-logo{
    position: relative;
    width: 300px;
    height: 400px;
    background: var(--primary);
    padding: 50px;
    border-radius: 5px;
    box-shadow: -10px 10px 1px rgba(0,0,0,0.175);
    transition: all 0.5s;
}
.bg-logo .logo{
    width: 100%;
    position: absolute;
    border-radius: 5px;
    margin-top: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.175);
    transition: all 0.5s;
}
.bg-logo .logo:hover{
    /* filter: grayscale(1); */
    filter: brightness(1.2);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.bg-logo:hover{
    box-shadow: -20px 20px 1px rgba(7, 60, 95, 0.5)
}
.cards_container_proyects{
    padding: 0 20px;
}
.cards_container_proyects .card{
    margin: 25px 10px;
}
.section__title h2{
    font-size: 5rem;
    line-height: 5.2rem;
}

.section__title p{
    font-size: 2rem;
    line-height: 2.2rem;
}